body {
	background-color: rgb(233, 241, 193);
}

#container {
	display: flex;
	flex-direction: row;
}

div#board {
	position: relative;
	width: 1024px;
	height: 863px;
	margin: auto;
	background: url("board.jpg") no-repeat;
}

#containerPlayer {
	flex-direction: column;
	top: 100px;
	width: 300px;
	height: 700px;
	background: url("radio.png") no-repeat;
}

div#messageArea {
	padding: 200px;
	font-size: 30px;
}

#scores {
	width: 200px;
}

.hit {
	background: url("ship.png") no-repeat center center;
}

.miss {
	background: url("miss.png") no-repeat center center;
}

table#boardgame {
	border-spacing: 0px;
	/* border-collapse: collapse; */
	position: absolute;
	left: 173px;
	top: 98px;
}

td {
	width: 93px;
	height: 93px;
}

.scoreTable {
	width: 0px;
	height: 0px;
}


form#radio {
	height: 200px;
	margin-top: 233px;
	margin-right: 10px;
	padding: 20px;
	background-color: transparent;
}

form#radio input {
	background-color: rgba(255, 255, 255, 0.5);
	border-color: #f2f3f4;
	font-size: 24px;
}

form#radio button {
	background-color: #f2f3f4;
}